h1 {
display: flex;
flex-direction: column;
background-color: lightblue;
font-size: 60px;
}
body {
  text-align: center;
  background-color: #333333;
}
#ad {
  border: solid;
  height: 40%;
  width: 40%;
  text-align: center;
}
img {
  border-radius: 5%;
}
#svst {
  background-color: black;
  margin:0 auto;
  width: 400px;
  border-radius: 10%;
}
h2{
  color: whitesmoke;
}
h3{
  color: whitesmoke;
}
h4{
  color: whitesmoke;
}
h5{
  color: whitesmoke;
}
p{
  color: whitesmoke;
}
a{
  color: rgb(60,60,255);
}
#videoad {
  position: fixed;
  right: 40;
  top: 0;
  z-index: 10000;
}
#contact{
  text-align: justify;
  height: 128;
  background-color:red;
}
